<!doctype html>
<html lang="es" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}TecW Rocódromo{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
    <script src="/javascript/theme_loader.js"></script>
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="shortcut icon" href="/favicon/favicon-32x32.png" type="image/x-icon">
</head>
<body>
{% with messages = get_flashed_messages() %}
{% if messages %}
    {% for message in messages %}
        <div class="error">{{ message }}</div>
    {% endfor %}
{% endif %}
{% endwith %}